
*{
    box-sizing: border-box;
}

    
body {
 
    background-image: url("../images/background.png");
    background-repeat: no-repeat;
    position: relative;
    background-size: cover;
   
  }

.textbox{
    border-color: black;
    float: right;
    margin-top: 70px;
    margin-right: 50px;
    background-color: rgba(255, 255, 255, 0.89);

}

.results{
  font-weight: bold;
  font-size: 2rem;
  color: hotpink
}

.score{
  font-weight: bold;
}

h1{
    text-align: center;
    font-style: italic;

}

form{
  overflow: scroll;
  height: 500px;
}

.container{
    width: 100%;
    max-width: 480px;
}

.resultsContainer{
  text-align: center;
}

p {
    padding-top: 50px;
    font-size: 1 rem;
    z-index: 99;
    text-align: center;
    display: block;
    color: balck;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }

.start, .submit{
  margin-left: 200px;
  height:50px;
  width:200px;
  margin-bottom: 50px;
}


#timer-display {
  background: hotpink;
  text-align: center;
}

#question{
  text-align: center;
}

h2{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: white;
  font-size: .3rem;
  text-align: center;
}

h4{
  font-size: .3rem;
}
#blurb{
  overflow: none;
}
